.loading {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,.6);
    z-index: 100;
    &__indicator {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:before, &:after {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid transparent;
            border-top-color: #3498db;
        }
        &:before {
            z-index: 101;
            animation: spin 1s infinite;
        }
        &:after {
            border: 2px solid #ccc;
        }
    }
}