.mapSearch {
    display: block;
    padding: 20px;
    height: 80px;
    &__form {
        display: inline-block;
        width: 100%;
        border-radius: 3px;
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        box-sizing: border-box;
        div {
            display: inline-block;
            width: calc(100% - 100px);
        }
        input[type=text] {
            width:100%;
            border: none;
            box-shadow: none;
            display: inline-block;
            padding: 10px 20px;
            background: transparent;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
            + div {
                position: absolute;
                left: 0;
                z-index: 100;
            }
        }
        button {
            width: 100px;
            padding: 10px 0;
            border: none;
            background: $midnightBlue;
            color: $white;
            cursor: pointer;
        }
    }
}