.marker {
    position: relative;
    &__pin {
        width: 30px;
        height: 30px;
        border-radius: 50% 50% 50% 0;
        background: #4c5a6c;
        position: absolute;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
        animation-name: bounce;
        animation-fill-mode: both;
        animation-duration: 1s;
        &:after {
            content: '';
            width: 14px;
            height: 14px;
            margin: 8px 0 0 8px;
            background: #fff;
            position: absolute;
            border-radius: 50%;
        }
    }
    &__pulse {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        height: 14px;
        width: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 11px 0 0 -12px;
        transform: rotateX(55deg);
        z-index: 100;
        &:after {
            content: "";
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            margin: -13px 0 0 -13px;
            animation: pulsate 2.5s ease-out;
            animation-iteration-count: infinite;
            opacity: 0;
            box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
            animation-delay: 1.5s;
        }
    }
}